!!! 5
html
  head
    title Warner Home Automation
    script(src='static/js/jquery.min.js')
    script(src='static/js/bootstrap.min.js')

    script(src='static/js/jquery.sidr.js')

    block addjs_begin
    script(src='static/js/test.js')
    

    link(rel='stylesheet', href='static/css/bootstrap.min.css')
    link(rel='stylesheet', href='static/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='static/css/jquery.sidr.dark.css')
    block addcss

  body
    block content
    
    block addjs_end